<div class="container-fluid" style="background-color: cornflowerblue; width:100%; height:100%;">
    <h5 class="text-center text-white">Welcome to Todo List Management System</h5>
    <br>
    <div class="container border rounded p-4 mydiv">
        <h5 class="text-center">Reset Password</h5>
        <div class="row">
            <div class="col-md-12 text-center">
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput [formControl]="password" required>
                    <mat-error *ngIf="password.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Confirm Password</mat-label>
                    <input type="password" matInput [formControl]="confirmpassword" class="rounded-0" required>
                    <mat-error *ngIf="confirmpassword.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <br>
                <button type="button" class="btn btn-block btn-primary mx-auto bttn"
                    (click)="resetPasswordMethod()">Reset Password</button>
            </div>
        </div>
    </div>
</div>
