@media only screen and (max-width: 382px) {
    .mydiv {width:100vw;
        background-color: white;}
        .bttn{
            width:35vw;
        }
  }
  @media only screen and (min-width: 382px) {
    .mydiv {width:70vw;
        background-color: white;}
        .bttn{
            width:26vw;
        }
  }
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .mydiv {
        width:50vw;
        background-color: white;
    }
    .bttn{
        width:24vw;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .mydiv {width:40vw;
        background-color: white;}
        .bttn{
            width:20vw;
        }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .mydiv {width:30vw;
        background-color: white;}
        .bttn{
            width:16vw;
        }
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .mydiv {width:30vw;
        background-color: white;
    }
    .bttn{
        width:16vw;
    }
  }