<div class="container-fluid p-5" style="background-color: cornflowerblue; width:100%; height:100%;">
    <h5 class="text-center text-white">Welcome to Todo List Management System</h5>
    <br>
    <div class="container border rounded p-4" style="width:30vw;background-color: white;">
        <h5 class="text-center">Login</h5>
        <div class="row py-3">
            <div class="col-md-12 text-center">
                <mat-form-field appearance="fill">
                    <mat-label>Enter Your Email</mat-label>
                    <input type="email" matInput [formControl]="email" required>
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Enter Your Password</mat-label>
                    <input type="password" matInput [formControl]="password" class="rounded-0" required>
                    <mat-error *ngIf="password.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <br>
                <button type="button" class="btn btn-block btn-primary mx-auto" style="width:16vw"
                    (click)="signinMethod()">Sign in</button>
                <br>
                <div class="text-center"><a [routerLink]="['/forgotpassword']">Lost your Password?</a></div>
            </div>
        </div>
    </div>
    <br>
    <div class="text-center text-white">Don't have an account?<a [routerLink]="['/signup']" class="text-white"> Sign up
            here!</a></div>
</div>