/*.navbar-custom {
  background-color: #3f51b5;
}*/

/* change the brand and text color */
/*.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: #ffffff;
}*/

/* change the link color */
/*.navbar-custom .navbar-nav .nav-link {
  color: #ffffff;
}*/